Relation

In [1]:
import sqlite3

In [2]:
connect = sqlite3.connect('campusdata.db')
cursor = connect.cursor()

In [3]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Relasi_Mahasiswa(
        ID_Mahasiswa INT PRIMARY KEY,
        Nama TEXT,
        Jurusan TEXT,
        Tanggal_Lahir DATE
    )
''')

In [4]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Relasi_MataKuliah(
        Kode_MataKuliah TEXT PRIMARY KEY,
        Nama_MataKuliah TEXT,
        SKS INT
    )
''')

In [5]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Relasi_Nilai(
        ID_Mahasiswa INT,
        Kode_MataKuliah TEXT,
        Nilai INT,
        PRIMARY KEY(ID_Mahasiswa, Kode_MataKuliah),
        FOREIGN KEY(ID_Mahasiswa) REFERENCES Relasi_Mahasiswa(ID_Mahasiswa),
        FOREIGN KEY(Kode_MataKuliah) REFERENCES Relasi_MataKuliah(Kode_MataKuliah)
    )
''')

In [8]:
Mahasiswa = [
    (1, 'Adi', 'Informatika', '2002-02-02'),
    (2, 'Ali', 'Informatika', '2002-02-02'),
    (3, 'Ani', 'Informatika', '2002-02-02'),
]

for data in Mahasiswa:
    cursor.executemany('''
    INSERT INTO Relasi_Mahasiswa(
        ID_Mahasiswa,
        Nama,
        Jurusan,
        Tanggal_Lahir
    ) VALUES (?,?,?,?)''', data)

ValueError: parameters are of unsupported type